# チームごとの1100の分布の相違

In [1]:
import pandas as pd
import numpy as np
import re
import os, sys
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter, defaultdict
from scipy import stats

%matplotlib inline
plt.style.use('ggplot')
#plt.style.use('seaborn-pastel')
%config InlineBackend.figure_format = 'retina'
import warnings
warnings.filterwarnings('ignore')

sys.path.append("..")
from utils.util_functions import *

In [2]:
event_df = make_df("20180101", "20181231")

In [18]:
event_df.head()

,状況,回,守備チーム,投手,利き手,防御率,攻撃チーム,打者,打席,打率,本塁打数,打点,四球数,盗塁数,結果
0,0000,1回表,巨人,菅野 智之,右,6.43,阪神,高山 俊,左,.500,0,1,0,0,三ゴロ
1,1000,1回表,巨人,菅野 智之,右,6.43,阪神,鳥谷 敬,左,.250,0,0,0,0,遊ゴロ
2,2000,1回表,巨人,菅野 智之,右,6.43,阪神,糸井 嘉男,左,.250,0,0,0,0,一ゴロ
3,3000,1回表,巨人,NaN,NaN,NaN,阪神,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0000,1回裏,阪神,メッセンジャー,右,1.29,巨人,陽 岱鋼,右,.333,0,0,0,0,中安

In [3]:
ad_before = "1000"
dis_before = "0100"
after = "1100"

central_df = pd.DataFrame(columns=central, index=["statistic", "pvalue"])

for team in central:
    lst1 = extract_case(event_df[event_df.攻撃チーム==team], ad_before, after).状況.values
    lst2 = extract_case(event_df[event_df.攻撃チーム==team], dis_before, after).状況.values
    central_df[team]["statistic"] = stats.ks_2samp(lst1, lst2).statistic
    central_df[team]["pvalue"] = stats.ks_2samp(lst1, lst2).pvalue

In [17]:
central_df

                  広島       ヤクルト         巨人      ＤｅＮＡ         中日         阪神
statistic   0.170659  0.0754863  0.0979358  0.100774  0.0963085  0.0600985
pvalue     0.0260873   0.775223   0.428783  0.532882   0.596843   0.943603

In [12]:
ad_before = "1000"
dis_before = "0100"
after = "1100"

pacific_df = pd.DataFrame(columns=pacific, index=["statistic", "pvalue"])

for team in pacific:
    lst1 = extract_case(event_df[event_df.攻撃チーム==team], ad_before, after).状況.values
    lst2 = extract_case(event_df[event_df.攻撃チーム==team], dis_before, after).状況.values
    pacific_df[team]["statistic"] = stats.ks_2samp(lst1, lst2).statistic
    pacific_df[team]["pvalue"] = stats.ks_2samp(lst1, lst2).pvalue

In [13]:
pacific_df

                  西武     ソフトバンク      日本ハム      オリックス        ロッテ        楽天
statistic  0.0535116  0.0805998  0.049834   0.219375  0.0776558  0.106225
pvalue      0.981433   0.765543   0.99298  0.0244601   0.831205  0.428533

In [5]:
target_team = "広島"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

(0.026087343789856922, 0.17065919130139318)

In [6]:
target_team = "ヤクルト"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

(0.77522314115090618, 0.075486317850006146)

In [7]:
target_team = "巨人"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

(0.42878330629428851, 0.097935779816513746)

In [8]:
target_team = "ＤｅＮＡ"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

(0.53288159437808735, 0.10077380952380943)

In [9]:
target_team = "中日"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

(0.59684317324954017, 0.09630847953216376)

In [10]:
target_team = "阪神"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

(0.94360332266750568, 0.060098522167487622)

In [ ]:
target_team = "西武"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

In [ ]:
target_team = "ソフトバンク"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

In [ ]:
target_team = "日本ハム"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

In [ ]:
target_team = "オリックス"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

In [ ]:
target_team = "ロッテ"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

In [ ]:
target_team = "楽天"
lst1 = extract_case(event_df[event_df.攻撃チーム==target_team], "1000", "1100").状況.values
lst2 = extract_case(event_df[event_df.攻撃チーム==target_team], "0100", "1100").状況.values
stats.ks_2samp(lst1, lst2).pvalue, stats.ks_2samp(lst1, lst2).statistic

# いらぬ

In [ ]:
"""for team in central:
    target_flattened_triple = make_flattened_list(make_inning_triple(make_inning_list(event_df[event_df.攻撃チーム==team])))
    bar_and_df(target_flattened_triple, "1000", "0100", "1100", team, False)"""

In [ ]:
"""for team in pacific:
    target_flattened_triple = make_flattened_list(make_inning_triple(make_inning_list(event_df[event_df.攻撃チーム==team])))
    bar_and_df(target_flattened_triple, "1000", "0100", "1100", team, False)"""

In [ ]:
#event_df = pd.concat([event_df, event_df[["状況"]].shift(1).rename({"状況": "状況-1"}, axis=1), event_df[["状況"]].shift(-1).rename({"状況": "状況+1"}, axis=1)], axis=1)

In [ ]:
"""def extract_case(event_df, before_2, before_1):
    con_event_df = pd.concat([event_df, event_df[["状況"]].shift(1).rename({"状況": "状況-1"}, axis=1), event_df[["状況"]].shift(2).rename({"状況": "状況-2"}, axis=1)], axis=1)
    return con_event_df[(con_event_df["状況-1"]==before_1) & (con_event_df["状況-2"]==before_2)]"""

In [ ]:
"""def make_triple_from_case(con_event_df):
    return [list(reversed(elem)) for elem in con_event_df[["状況", "状況-1", "状況-2"]].values.tolist()]"""

In [ ]:
#ad_list = make_triple_from_case(extract_case(event_df[event_df.攻撃チーム=="巨人"], "1000", "1100"))
#dis_list = make_triple_from_case(extract_case(event_df[event_df.攻撃チーム=="巨人"], "0100", "1100"))